$font-family-sans:	source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:	source-serif-pro, Georgia, 'Times New Roman', Times, serif;
$font-family-code:	source-code-pro, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$font-size: (
        small: (size: 12px, lines:4),
        medium: (size: 16px, lines:4),
        large: (size: 24px, lines:8),
        x-large: (size: 36px, lines:8),
        huge: (size: 48px, lines:12)
);
