#homeMain{
  position:relative;
}

.homeMain_content{
  position:absolute;
  left:55%;
  width:40%;
  top: rhythm(4);
}
.homeMain_title{
  @include fs(heading-large);
}
.homeMain_text{
  @include fs(text-large);
}