@include jw_border_box();

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
        columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
        container: 1200px,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box,
        debug: (
                image: show,
                color: rgba(#66f, .25),
                output: overlay,
                toggle: bottom right,
        ),
);

img{
  max-width: 100%;
}


.container{
  background-color: red; //For Debug
  &:nth-of-type(2n){
    background-color: darkred; //For Debug
  }

  &>* {
    @include container;
  }
}

.LearnMore .item{
  @include span(3);
  &:nth-of-type(4n){
    @include span(3 last);
  }
}

.Recent .item{
  @include span(4);
  &:nth-of-type(3n){
    @include span(4 last);
  }
}